upstream applicationServer {
    {% for host in groups['appservers'] %}
        server {{ host }}:{{ sweagle_core_port }};
    {% endfor %}
}

## This is redirect to HTTPS to use if https enabled
#server {
#        listen 80;
#        listen [::]:80;
#        server_name {{ sweagle_tenant }}.sweagle.com;
#
#    location / {
#        return 301 https://$host$request_uri;
#    }
#}

server {
        listen {{ sweagle_web_port }};
        #listen [::]:{{ sweagle_web_port }} default_server;

        #should be uncommented when the certificate gets installed on the machine
        #ssl on;
        #ssl_certificate /etc/ssl/sweagle.pem;
        #ssl_certificate_key /etc/ssl/sweagle.key;

        root {{ sweagle_web_root_dir }};
        index index.html;

        server_name _;

        location / {
                alias {{ sweagle_web_root_dir }}/;
                try_files $uri$args $uri$args/ /index.html;
        }

        location /oauth/ {
                proxy_pass http://applicationServer/oauth/;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
                #proxy_redirect http:// https://;
         }

         location /api/ {
                proxy_pass http://applicationServer/api/;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
                #proxy_redirect http:// https://;
        }

    	location /info {
        		proxy_pass http://applicationServer/info;
        		proxy_http_version 1.1;
        		proxy_set_header Upgrade $http_upgrade;
        		proxy_set_header Connection 'upgrade';
        		proxy_set_header Host $host;
        		proxy_cache_bypass $http_upgrade;
    	}

        location = /docs/api_v1.html {
                proxy_pass http://applicationServer/docs/api_v1.html;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
        }

        location /internal {
                proxy_pass http://applicationServer/info;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
        }
}
