server:
  port: "{{ sweagle_scriptexecutor_port }}" #this is the scriptExecutor port

logging:
  file: "{{ sweagle_installation_folder }}/logs/sweagle_scriptExecutor.log"

execution:
  control:
    max-cpu-time-seconds: 180
    core-thread-pool-size: 2
    max-thread-pool-size: 2
