server:
  port: "{{ sweagle_core_port }}" #this is the core port
  tomcat: #this is for the HTTPS part
    remote_ip_header: x-forwarded-for
    protocol_header: x-forwarded-proto

logging:
  file: "{{ sweagle_installation_folder }}/logs/sweagle_core.log"

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: "jdbc:mysql://{{ sweagle_mysql_host }}:{{ sweagle_mysql_port }}/{{ sweagle_mysql_db }}?useSSL=false&serverTimezone=UTC"
    username: "{{ sweagle_mysql_user }}"
    password: "{{ sweagle_mysql_password}}"
  data:
    mongodb:
      #host: {{ sweagle_mongo_host }}
      #port: {{ sweagle_mongo_port }}
      #database: {{ sweagle_mongo_db }}
      #username: {{ sweagle_mongo_user }}
      #password: {{ sweagle_mongo_password }}
      #authentication-database: sweagle
      uri: "mongodb://{{ sweagle_mongo_user }}:{{ sweagle_mongo_password }}@{{ sweagle_mongo_host }}:{{ sweagle_mongo_port }}/{{ sweagle_mongo_db }}?ssl=false&authSource={{ sweagle_mongo_db }}&retryWrites=true"
  mail:
    host: smtp-auth.mailprotect.be
    username: no-reply@sweagle.expert
    password: mailUserPassword
    protocol: smtp
    port: 587
    properties:
      mail:
        smtp:
          starttls:
            enable: true
            required: true

sweagle:
  mail:
    enabled: true
    from: no-reply@sweagle.expert

elasticsearch:
  enabledAtStartup: true #in case elastic is not running, switch to false to start without reporting
  cluster-name: "{{ sweagle_elasticsearch_cluster }}"
  url: "{{ sweagle_elasticsearch_host }}"
  port: "{{ sweagle_elasticsearch_transport_port }}"

vault:
  servers: {% for host in groups['appservers'] %}{{ host }}:{{ sweagle_vault_port }}{% if not loop.last %},{% endif %}{% endfor %} #comma separated list for other vault servers
  token: "{{ sweagle_vault_token }}"
  scheme: http
  enabled: true

executor:
  enabled: true
  protocol: http
  servers: "{{ inventory_hostname }}:{{ sweagle_scriptexecutor_port }}"
  parse-url: api/v1/script-executor/parse
  validate-url: api/v1/script-executor/validate
  replace-url: api/v1/script-executor/replace

cache:
 members: {% for host in groups['appservers'] %}{{ host }}:5701{% if not loop.last %},{% endif %}{% endfor %} #comma separated list of the other cache members
 port: 5701 #optional
 portCount: 100 #optional

license:
 key: {{ sweagle_license_key }}
