server:
  port: 8081 #this is the core port
  tomcat: #this is for the HTTPS part
    remote_ip_header: x-forwarded-for
    protocol_header: x-forwarded-proto

logging:
  file: {{ sweagle_installation_folder }}/sweagle_core.log

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mdm?useSSL=false&serverTimezone=UTC
    username: {{ mdm_user }}
    password: {{ mdm_user_password }}
  data:
    mongodb:
      #host: localhost
      #port: 27017
      #database: sweagle
      #username: mongoSweagleUser
      #password: yourPassword
      #authentication-database: sweagle
      uri: mongodb://{{ mongo_user }}:{{ mongo_password }}@localhost:27017/{{ mongo_db }}?ssl=false&authSource={{ mongo_db }}&retryWrites=true
  mail:
    host: smtp-auth.mailprotect.be
    username: no-reply@sweagle.expert
    password: mailUserPassword
    protocol: smtp
    port: 587
    properties:
      mail:
        smtp:
          starttls:
            enable: true
            required: true

sweagle:
  mail:
    enabled: false
    from: no-reply@sweagle.expert

elasticsearch:
  enabledAtStartup: true #in case elastic is not running, switch to false to start without reporting
  cluster-name: {{ els_sweagle_cluster }}
  url: localhost
  port: 9300

vault:
  token: 869cd5f1-18f1-0e5f-5561-21e17ad28f73
  scheme: http
  enabled: false

 license:
   key: {{ sweagle_license_key }}
